body {
    background-image: url('images/anime4.png');
    background-color: #C7BEA2;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-size: 100%;
    }
p{
    padding-left: 200px;
}




/* Navigation Bar */

.container-fluid{ 
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    nav-index: auto;
    }
    
    .navbar-brand{
        padding-top: none;
        padding-bottom: inherit ;
    }
    
 

.bottle{
 padding-left: 5em;
padding-top: 0em;
padding-right: 20em;

}

h1{
padding-left: 515px;


}