body {
    background-color: #AAA492;
    
    }
    
    #intro 
    
    /* Navigation Bar */
    .container-fluid{ 
        background-size: 100%;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: white;
        nav-index: auto;
        }
   
        .navbar-brand{
            padding-top: none;
            padding-bottom: inherit ;
        }
 
    


    .wrapper {
        height: 100px;
        width: 100px;
        padding-left: 545px;
    }

    .logo {
        padding-left: 515px;
    }
    .book{
padding-left: 50px;


    }