body {
    background-color: #C7BEA2;

    }
p{
    padding-left: 200px;
}




    #intro 
    
    /* Navigation Bar */
    
    .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    }
    
    .nav-link {
    font-size: 1.2rem;
    font-family: "monospace";
    background-color: #57837B;
    }

.bottle{
 padding-left: 20em;
padding-top: 0em;


}

h1{
padding-left: 515px;


}