
 body {
background-color: #9A9483;
 }


    
/* Navigation Bar */

.container-fluid{ 
background-size: 100%;
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: white;
color:black;
nav-index: auto;
}

.navbar-brand{
    padding-top: none;
    padding-bottom: inherit ;
}
